html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Organiza o conteúdo em uma coluna */
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    align-items: center;
    min-height: 100vh; /* O mínimo de altura é o tamanho da janela de visualização */
    justify-content: flex-start; /* Alinha o conteúdo no início do container */
    padding-top: 40px; /* Espaço para não colar o conteúdo no topo */
    padding-bottom: 60px; /* Espaço para não colar o conteúdo no footer */
}

.main {
    margin-top: 7%;  
    width: 70%; 
    text-align: center;
    flex: 1; /* O .main vai ocupar todo o espaço disponível */
}

h1 {
    color: rgb(169, 26, 169);
    font-size: 2.5rem;
}

p {
    font-size: 1.5rem;
    margin: 3rem auto;
}

input {
    width: 40%; /* Ajusta para padding */
    margin: 2rem auto; /* Ajusta para padding */
    padding: 10px;
    font-size: 1.5rem;
    border: 1px solid #3d3c3c;
    border-radius: 0.5rem;
}

button {
    width: 80%;
    background-color: rgb(169, 26, 169);
    color: #fff;
    font-size: 1.5rem;
    padding: 10px;
    font-weight: bold;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all ease .3s;
}

button:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    transform: scale(1.1);
}

#resultado {
    width: 80%;
    line-height: 3;
    font-size: 1.5rem;
    padding: 20px;
    margin: 2rem auto;
    border: 1px solid #ccc;
    font-size: 2rem;
    border-radius: 0.5rem;
    background: #fff; /* Fundo branco para garantir visibilidade */
}

/* Estilos para etiquetas */
.verde, .amarelo, .vermelho, .laranja {
    color: white;
    padding: 10px;
    border-radius: 0.5rem;
    margin-top: 10px; /* Espaço acima da etiqueta */
}

.verde { background-color: green; }
.amarelo { background-color: yellow; color: black; } /* Texto preto para melhor visibilidade */
.vermelho { background-color: red; }
.laranja { background-color: orange; }

footer {
    width: 100%;
    background-color: #f2f2f2;
    text-align: center;
    padding: 10px 0;
}

img {
    width: 60px;
}

@media (max-width: 600px) {
    .main{     
        max-width: 80%;
    }

    input, button {
        width: 80%; /* Menor padding para telas pequenas */
        margin: 10px 10px;
    }

    h1 {
        font-size: 2.5rem; /* Tamanho menor para telas pequenas */
    }
}
